import streamlit as st 

# Général
import pandas as pd
import joblib
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_row', 250)
pd.set_option('display.max_column', 200)

# Modélisation - Preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

# Modélisation - Model
from sklearn.neighbors import NearestNeighbors

from io import BytesIO
import requests