streamlit
pandas
joblib
matplotlib
seaborn
xgboost
warnings.simplefilter(action='ignore', category=FutureWarning)
sklearn.preprocessing.StandardScaler
sklearn.impute.SimpleImputer
sklearn.compose.make_column_transformer
sklearn.neighbors.NearestNeighbors
io.BytesIO
requests